<h1>Please enter your zipcode to find your representatives</h1>

	
	<%= form_tag("/politicians", method: "get") do  %>
		<%= label_tag(:zipcode, "Enter zipcode:")  %>
		<%= text_field_tag(:zipcode)  %>
		<%= submit_tag("Search") %>
	
	<%  end %>
<h1>These are your searched for representatives in Congress</h1>


<% @politicians_zip.each do |politician| %>
	<ul>
		<li>
			
			<%= link_to politician.name, politician_path(politician.id) %>
		</li>
	</ul>
<% end %>

	


<h1>These are your representatives for zip 12009 in Congress</h1>


<% @politicians.each do |politician| %>
	<ul>
		<li>
			
			<%= link_to politician.name, politician_path(politician.id) %>
		</li>
	</ul>
<% end %>
