
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic|Open+Sans:300italic,400italic,400,300,600|Raleway:400,100,200,300,500,600,700' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,200italic,300italic,400italic,600italic' rel='stylesheet' type='text/css'>

<head>
	  <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

     // Load the Visualization API and the piechart package.
     google.load('visualization', '1.0', {'packages':['corechart']});

     // Set a callback to run when the Google Visualization API is loaded.
     google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.

    function drawChart() {

      // Create the data table.
        var data = google.visualization.arrayToDataTable( [
  		  ['Industry', 'Money Donated'],
          <% @counts.each_with_index do |(industry, count), index| %>
        		[ '<%=industry%>', <%=count%> ]<%="," unless index == @counts.size - 1 %>
        	<% end %>
        ]);

	    // Set chart options
	    var options = {
	    	// title: '<%="Donors from the #{@politician.influences[0].campaign_cycle} Campaign Cycle, by top 10 industries" %>' ,
	    	titleTextStyle: {color:'black', fontName: 'Open Sans', fontSize: 14},
	        pieHole: .4,
	        colors: ['#FFCB9E', '#FF4A4A', '#FF6200', '#FF8833', '#FF7B0F'],
	        fontName: "Lato",
	        legend: {position:'none'},
	        pieSliceTextStyle: {color:"white", fontName:"Open Sans"},
	        chartArea: {left:20}
	    };

	    // Instantiate and draw our chart, passing in some options.
	    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
	        chart.draw(data, options);
    }

    </script>


</head>
<body>

	<nav>
		<ul class="header">
			<li id="moto">Politicians talk a good game...<br><span class="tm">WHIT</span> lets you see concrete data.<br>No opinions or promises.</li>
			<li class="logo">WHIT</li>

	</nav>
	<div class="sidebar">
		<ul class="iconography">
			<li><%= link_to image_tag "facebook_icon.png", class: "facebook_icon", url:"http://facebook.com/#{@politician.facebook_account}" %></li>
			<li><%= link_to image_tag "twitter_icon.png", class: "twitter_icon", url: "http://twitter.com#{@politician.twitter_id}" %></li>
			<li><%= image_tag "phone_icon.png", class: "phone_icon" %></li>
			<li><%= image_tag @politician.symbol, id: "party_icon" %></li>
		</ul>

		<h2><%= "#{@politician.title}" + ". " + "#{@politician.name}" %></h2>
		<%= image_tag "http://theunitedstates.io/images/congress/450x550/#{@politician.bioguide_id}.jpg", id: "profile_picture" %>
		<h3><%="#{@politician.party_finder}" + " from " + "#{@politician.state}" + "#{@politician.check_if_senator}"%></h3>
		<h3 id="years"><%= "#{@politician.seniority} years in office" %></h3>


		<div id="twitter_integration">
		
			<a class="twitter-timeline" href="https://twitter.com/hashtag/#{@politician.twitter_id}" data-widget-id=<%= "#{ @politician_twitter_hash[@politician.name] }" %>  >
				#{barbaraboxer} Tweets
			</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			</script>
		</div>

		<section id="comments">
	
			<div class="respond">

			   <h4><%= "Leave a comment about #{@politician.name}" %>
			   </h4>

				<%= form_tag(politician_path(@politician.id), method: "get") do  %>

				<!-- 	<label for="comment" class="required">Your message</label> -->

				    <%= text_area_tag(:comment, '', placeholder: "Type your comment here", class: "rounded_search", id: "message", rows: 15, cols: 25) %>
					<%= submit_tag("Comment", id: "submit_message") %>

				<% end %>

			</div>

			<div class="posts">
				<h4><%= "What users are saying about #{@politician.name}"%></h4>
				<ul class="list_of_comments">
					
				<% @politician.posts.each do |post| %>
					<li class="comment">
						<h5> anonymous wrote:</h2>
						<p> <%= post.body %> <br>
							<span id="timer"> on <%= post.created_at.strftime("%m/%d/%Y at %I:%M %p") %><span> </p>
						<!-- .strftime(" %m %d %Y at %I:%M%p") -->
					</li>

				<% end %>
				</ul>
			</div>
		</section>

		<section id="very_specific_id">
			<div id="fb-root"></div>
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			</script>
			<div class="fb-like" data-href="http://localhost:3000/politicians/2/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
			</div>
		<section>
	</div>


	<div class="general_info">
		<a href="#fundraising_section">
			<div class="fundraising_campaigns_icon">
			<%= image_tag "fundraising_campaigns.png", id: "fundraising_campaigns_icon" %>
			<p>FUNDRAISING</p>
			</div>
		</a>
		<a href="#ideology_section">
			<div class="ideology_icon">
				<%= image_tag "hands.png", id: "ideology_icon" %>
				<p>IDEOLOGY</p>
			</div>
		</a>
		<a href="#legislation_section">
			<div class="legislation_icon">
				<%= image_tag "legislation.png", id: "legislation_icon" %>
				<p>LEGISLATION</p>
			</div>
		</a>

	</div>

	<section id="fundraising_section">
		<h4>Donors by industry</h4>
		<div id="donutchart" style="width: 300px; height: 300px;"></div>
		<div class="committees">
			<h4> Serves on: </h4>
			<ul class="committees_list">
				<% @politician.committees.each do |committee| %>
				
					<%if committee.is_subcommittee == "true" %>
						<li>
							<%= "#{committee.name} " %> 
						</li>
					<%end%>	
				<%end%>
			</ul>
		</div>
		<p id="total_raised"><%="total raised: $#{@politician.money_raised}" %></p>
		
		<div class="warning">
			<%= image_tag "exclamation.jpg", id:"beware"%>
			<p>Beware of politicians having lots of donations from an industry while serving on an affiliated commmittee</p>
		</div>

	</section>

	<section id="ideology_section">
		<h4>Recent votes by category</h4>
		<table>
			<tr>
				<th>ISSUE</th>
				<th>BILL</th>
				<th>VOTE</th>
			</tr>
		
			<% @ideologies.each do |issue, votes_hash| %>
					<% votes_hash.each_with_index do |(bill_id, vote), index| %>
						<tr>
							<% if index == 0 %>

								<td rowspan=<%= votes_hash.size %> class="<%=cycle("odd", "even")%>">
									<%= issue %> 
								</td>
							<% end %>
							<td><%= bill_id %></td>
							<% if vote == "Yea"%>
								<td ><%= image_tag "checkmark.jpg", id: "checkmark" %></td>
							<% elsif vote == "Nay" %>
								<td><%= image_tag "deny.jpg", id: "deny" %> </td>
							<% else vote == "Not Voting" %>
								<td><%= image_tag "exclamation.jpg", id: "exclamation" %> </td>
							<% end %>
						</tr>
				<% end %>	
			<% end %>	
		</table>
		<div  class="circle">
			<p>Votes with the party <%= @politician.votes_with_party_pct %>% of the time</p>
		</div>
	</section>

	<section id="legislation_section">
		<h4><%="Bills Sponsored by #{@politician.name} that have become law" %> </h4>
		<ul class="sponsored_bills_list">
			<%  passed_bills_hash = @efficiency.except(:bills_passed, :bills_sponsored, :years_in_congress)

				passed_bills_array = []

				passed_bills_hash.each do |bill_key, identifier|
					passed_bills_array << @politician.sponsored_bills.find(identifier)
				end

				passed_bills_array.each do |bill|
				%>
				<li class="sponsored_bills"><%= link_to bill.title, bill.url %>
		
				</li>
			<% end %>
		</ul>
		<p>Total bills sponsored:<br><span id="number_bills_sponsored"><%= @politician.sponsored_bills.count %></span></p>

		<p>Sponsored bills that actually passed:<br><span id="number_bills_sponsored"><%= "#{((@efficiency[:bills_passed] / @efficiency[:bills_sponsored])*100).round(2).to_s}%" %></span></p>

		<p>Years in Congress:<br><span id="number_bills_sponsored"><%= "#{@politician.seniority}" %></span></p>

	</section>
		


</body>
