<h1> <%= "Showing data for #{@politician.name}" %> </h1>
<p> THIS IS WHERE A POLITICAL PAGE WILL BE </p>
	<table>
		<th>
			<td>Attribute</td>
			<td>Value</td>
		</th>
		
		<tr>
			<td> <%= "Name:" %>  </td>
			<td> <%= "#{@politician.name}" %>  </td>	
		</tr>

		<tr>
			<td> <%= "Last Name:" %>  </td>
			<td> <%= "#{@politician.last_name}" %>  </td>	
		</tr>

		<tr>
			<td> <%= "First Name:" %>  </td>
			<td> <%= "#{@politician.first_name}" %>  </td>	
		</tr>

		<tr>
			<td> <%= "District:" %>  </td>
			<td> <%= "#{@politician.district}" %>  </td>	
		</tr>

		<tr>
			<td> <%= "State:" %>  </td>
			<td> <%= "#{@politician.state}" %>  </td>	
		</tr>

		<tr>
			<td> <%= "Party:" %>  </td>
			<td> <%= "#{@politician.party}" %>  </td>	
		</tr>

		<tr>
			<td> <%= "Chamber:" %>  </td>
			<td> <%= "#{@politician.title}" %>  </td>	
		</tr>

		<tr>
			<td> <%= "Contact URL:" %>  </td>
			<td> <%= link_to "#{@politician.contact_form}", "#{@politician.contact_form}" %>  </td>	
		</tr>

		<tr>
			<td> <%= "twitter_id:" %>  </td>
			<td> <%= link_to "#{@politician.twitter_id}", "http://www.twitter.com/#{@politician.twitter_id}" %>  </td>	
		</tr>

		<tr>
			<td> <%= "In office?:" %>  </td>
			<td> <%= "#{@politician.in_office}" %>  </td>	
		</tr>

	</table>