<head>
</head>
<body>

<header><h1><%= "#{@politician.title}" + ". " + "#{@politician.name}" %> </h1></header>


<div class="quick_facts">
	<ul>
		<li><%= image_tag (@politician.symbol) %> </li>
		<li><%= "#{@politician.party_finder}" + " from " + "#{@politician.state}" + "'s " + "#{@politician.district.to_i.ordinalize}" + " district"%></li>
	</ul>
</div>


	<table>
		<tr>
			<th>Attribute</th>
			<th>Value</th>
		</tr>

		<tr>
			<td> <%= "Contact URL:" %>  </td>
			<td> <%= link_to "#{@politician.contact_form}", "#{@politician.contact_form}" %>  </td>	
		</tr>

		<tr>
			<td> <%= "Twitter:" %>  </td>
			<td> <%= link_to "#{@politician.twitter_id}", "http://www.twitter.com/#{@politician.twitter_id}" %>  </td>	
		</tr>

		<tr>
			<td> <%= "In office?:" %>  </td>
			<td> <%= "#{@politician.in_office}" %>  </td>	
		</tr>
		
	</table>

</body>