
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic|Open+Sans:300italic,400italic,400,300,600|Raleway:400,100,200,300,500,600,700' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,200italic,300italic,400italic,600italic' rel='stylesheet' type='text/css'>

<head>
	  <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

     // Load the Visualization API and the piechart package.
     google.load('visualization', '1.0', {'packages':['corechart']});

     // Set a callback to run when the Google Visualization API is loaded.
     google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.

    function drawChart() {

        // Create the data table.
        var data = google.visualization.arrayToDataTable( [
  		  ['industry', 'companies'],
          <% @counts.each_with_index do |(industry, count), index| %>
        		[ '<%=industry%>', <%=count%> ]<%="," unless index == @counts.size - 1 %>
        	<% end %>
        ]);

	    // Set chart options
	    var options = {
	    	title:'donors by industry',
	    	titleTextStyle: {color:'black', fontName: 'Open Sans', fontSize: 14},
	        pieHole: .4,
	        colors: ['#FFCB9E', '#FF4A4A', '#FF6200', '#FF8833', '#FF7B0F'],
	        fontName: "Lato",
	        legend: {position:'none'},
	        pieSliceTextStyle: {color:"white", fontName:"Open Sans"},
	        pieSliceText: 'label',
	        chartArea: {left:20}
	    };

	    // Instantiate and draw our chart, passing in some options.
	    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
	        chart.draw(data, options);
    }

    </script>


</head>
<body>
<div id="profile_picture_div">
	<%= image_tag "http://theunitedstates.io/images/congress/450x550/#{@politician.bioguide_id}.jpg", id: "profile_picture" %>
</div>
<header><h1><%= "#{@politician.title}" + ". " + "#{@politician.name}" %> </h1></header>



<div class="quick_facts">
	<ul>
		<li><%= image_tag @politician.symbol, id: "party_icon" %> </li>
		<li class="quick_stats"><%= "#{@politician.party_finder}" + " from " + "#{@politician.state}" + "#{@politician.check_if_senator}"%></li>
		<li><%= image_tag "segmentor.png", class: "segmentor" %></li>
		<li class="quick_stats"><%= "#{@politician.seniority} years in office" %></li>
		<li><%= image_tag "segmentor.png", class: "segmentor" %></li>
		<li class="quick_stats"><%= "misses #{@politician.missed_votes_pct}% of votes" %></li>
		<li><%= image_tag "segmentor.png", class: "segmentor" %></li>
			<!-- this url doesnt work! -->
		<li><%= link_to image_tag "facebook_icon.png", class: "social_media_icons", url:"http://facebook.com/#{@politician.facebook_account}" %></li>
		<li>
			<!-- this url doesnt work! -->
			<%= link_to image_tag "twitter_icon.png", class: "social_media_icons", url: "http://twitter.com#{@politician.twitter_id}" %>
		</li>
		<li><%= image_tag "phone_icon.png", class: "social_media_icons" %></li>
	</ul>
</div>

<div class="general_information">

	<div class="fundraising_campaigns_icon">
		<%= image_tag "fundraising_campaigns.png", id: "fundraising_campaigns_icon" %>
		<p>FUNDRAISING</p>
	</div>
	<div class="ideology_icon">
		<%= image_tag "hands.png", id: "ideology_icon" %>
		<p>IDEOLOGY</p>
	</div>
	<div class="legislation_icon">
		<%= image_tag "legislation.png", id: "legislation_icon" %>
		<p>LEGISLATION</p>
	</div>
	

</div>

<div id="donors">
	<div id="donutchart" style="width: 600px; height: 300px;"></div>

</div>

<div id="fundraising_campaigns">
</div>

<div id="ideology">
	<table>
		<tr>
			<th colspan="3">
				<h3>Ideology Based On Votes</h3>
			</th>
		</tr>
		<tr>
			<th>issue</th>
			<th>bill</th>
			<th>vote</th>
		</tr>
		<% @ideologies.each do |issue, votes_hash| %>
				<% votes_hash.each_with_index do |(bill_id, vote), index| %>
					<tr>
						<% if index == 0 %>
							<td rowspan=<%= votes_hash.si
							ze %> class="issue">
								<%= issue %> 
							</td>
						<% end %>
						<td><%= bill_id %></td>
						<td><%= vote %> </td>
					</tr>
			<% end %>	
		<% end %>	
	</table>

</div>

<div id="legislation">

	<h3>Number of Sponsored Bills</h3>
	<%= @politician.sponsored_bills.count %>
	<h3>Most Recent Sponsored Bills</h3>
		<ul>
			<% 0.upto(9) do |number| %>
				<li><%= link_to @politician.sponsored_bills[number].title, @politician.sponsored_bills[number].url %>
		
				</li>
			<% end %>
		</ul>

</div>

<div id="Twitter integration"> 
	<a class="twitter-timeline" href="https://twitter.com/hashtag/corgi" data-widget-id="486632987572707328">#corgi Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>

</body>
